@media (max-width: 800px) {
    form#search-books {
        margin-left: 10%!important;
    }
}

@media (max-width: 450px) {
    form#search-books {
        margin-left: 0%!important;
    }
    nav.main-header.navbar.navbar-expand.navbar-light.navbar-white.d-flex.flex-row {
        flex-direction: column!important;
        justify-content: space-between;
    }
    ul.navbar-nav.toggle-navbar-nav {
        float: right;
    }
    div.toggle-navbar-nav {
        width: 100%;
    }
}

@media (max-width: 330px) {
    .toggle-navbar-nav {
        flex-direction: initial!important;
    }
}