*{
    margin:"0";
}

.button{
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
    z-index: 100;
}

img.check{
    margin-left: 120px;
}

.max-desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p{
    text-align: center;
    margin-left: 0.2rem;
}

img.big-preview{
    width: 100%;
    background-size: cover;
    background-image: url(https://marshalledc.org/sites/default/files/banner/mountains.jpg);
    max-height: 350px;
    max-width: 100%;

}

.fill-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
    filter: brightness(0.2)
}
.fill-detail img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    
}

.category {
	width:100px;
	height:20px;
	bottom:40px;
    right:40px;
    margin-left: 70px;
	background-color:yellow;
    border-radius:50px;
    text-align: center;
    transition: 0.6s ease;
}

p.content{
    text-align: justify;
    margin-left: 70px;
}

.list-reason{
    padding-left: 1rem;

}

h1.titletext{
    color: black;
    margin-left: 50px;
    font-weight: bold;
}

.star-review {
    margin-top: 10px;
    margin-left: 50px;
    color: #f0f023;
    font-size: 1.5rem;
    text-shadow: #000 0px 1px 1px;
    -webkit-font-smoothing: antialiased;
}

h1.title-text{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    font-size: xx-large;
}

#reason.row{
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.card.card-info{
    margin-left: 7.5px;
    margin-right: 7.5px; 
}

button#button_borrow{
    position: initial;   
    top: 50%; 
    left: 75%;
    color: white;
    font-size: 25px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

h1.statustextgreen{
    color: green;
    font-size: 20px;
    margin-left: 30px;
}

h1.statustextred{
    color: red;
    font-size: 20px;
    margin-left: 30px;
}

i.arrow{
    margin: 5px;    
    
}

p.date{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
}

.category p{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

img.small-preview{    
    right: 3rem;
    margin-top: -7rem;
    position: absolute;
    height: 14rem;
    width: 10rem;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}


ul.menuhead {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

ul.menuhead li{
    display: inline;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.menuhead li a:hover {
    background-color: transparent;
    color: blue;
}

.list-title{
    margin-top: 30px;
    margin-left: 70px;
    display:flex;
    justify-content: center;
}

.list-content{
    margin: 20px;
}

#recomendedcard img{
    height: 26rem;
    width: 70%;
    margin: auto;
}

a#toggle{
    color: black;
    float: right;
    margin-left: 1000px;
    text-decoration: none;
    position: absolute;
}

@media (max-width: 1920px){
    /* ul.menuhead{
        margin-left: 900px;
        float: right;
                */
    }

    /* img.small-preview{
        top: 35%;
        left: 80%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 150px;
        width: 100px
    } */

    a#toggle{
        color: black;
        float: right;
        margin-left: 500px;
        text-decoration: none;
        position: absolute;
    }

    .row#recomended{
        text-decoration: none;
    }    



@media (max-width: 1440px){
    /* ul.menuhead{
        margin-left: 800px;
        float: right; */

    }

    /* img.small-preview{
        top: 30%;
        left: 90%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 150px;
        width: 100px

    } */

    a#toggle{
        color: black;
        float: right;
        margin-left: 500px;
        text-decoration: none;
        position: absolute;
    }

    .row#recomended{
        text-decoration: none;
    }



@media (max-width: 1220px){
    /* ul.menuhead{
        margin-left: 700px;
        float: right;

    } */

}

@media (max-width: 1024px){
    /* ul.menuhead{
        margin-left: 500px;
        float: right;

    } */

    /* img.small-preview{
        top: 30%;
        left: 90%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 150px;
        width: 100px

    } */
    button#button_borrow{
        position: initial;
        top: 50%;
        left: 80%;
        color: white;
        font-size: 25px;
        width: 150px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    a#toggle{
        color: black;
        float: right;
        margin-left: 500px;
        text-decoration: none;
        position: absolute;
    }

    .row#recomended{
        text-decoration: none;
    }

}

@media (max-width: 800px){   

    img.big-preview{
        background-size: cover;
        background-image: url(../../../Assets/Media/books/novel-dilanmini.jpg);
        max-height: 350px;
        max-width: 100%;
    }

    /* ul.menuhead{
        margin-left: 500px;
        float: right;
    } */

    a#toggle{
        color: black;
        float: right;
        margin-left: 500px;
        text-decoration: none;
    }

    /* img.small-preview{
        top:17%;
        left: 90%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 150px;
        width: 100px

    } */

    .row#recomended{
        text-decoration: none;
        margin-left: 200px;
        display: flex;
        color: black;
        list-style-type:none;
        justify-content: space-evenly;
    }

    button#button_borrow{
        position: fixed;
        top: 50%;
        left: 75%;
        color: white;
        font-size: 25px;
        width: 150px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 450px){
    p.date{
        margin-left: 10px;
    }        

    .category {
        margin-left: 10px;  
    }

    h1.titletext{
        margin-left: 10px;
    }

    p.content{
        margin-left: 10px;
    }
        /* ul.menuhead{
            margin-left: 200px;
            float: right;
        } */

        img.check{
            margin-left: 80px;
        }

        button#button_borrow{

            position: absolute;
            top: 17%;
            left: 65%;
            color: white;
            font-size: 20px;

            width: 85px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        img.small-preview{
            position: absolute;
            height: 150px;
            width: 100px

        }

        h1.statustext{
            color: green;
            font-size: 20px;
            margin-left: 10px;
        }

        .row#recomended{
            text-decoration: none;
            margin-left: 60px;
            display: list-item;
            color: black;
        }

        a#toggle{
            color: black;
            float: right;
            margin-left: 300px;
            text-decoration: none;
            position: absolute;
        }
}

@media (max-width: 380px){
    img.check{
        margin-left: 65px;
    }

    button#button_borrow{

        position: absolute;
        top: 16%;
        left: 65%;
        color: white;
        font-size: 20px;

        width: 85px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 330px){
    /* ul.menuhead{
        margin-left: 150px;
        float: right;
        display: list-item;
        color: transparent;
    } */

    img.check{
        margin-left: 40px;
    }

    button#button_borrow{
        position: initial;
        top: 16%;
        left: 65%;
        color: white;
        font-size: 20px;
        width: 90px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    /* img.small-preview{
        top: 14%;
        left: 80%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 100px;
        width: 75px

    } */

    .row#recomended{
        text-decoration: none;
        margin-left: 15px;
        orientation: auto;
        color: black;
    }

    a#toggle{
        color: black;
        float: right;
        margin-left: 250px;
        text-decoration: none;
        position: absolute;
    }
}
/* Add Styline */
.list-title h4 {
    text-align: center;
}

h5.card-title {
    font-size: 20px;
    margin-left: 30px;
}


a.recomendedcard1 {
    margin-left: 80px;
}

.recommend-title{
    font-weight: 600;
    text-align: center;
}

h2.title-container {
    font-weight: bold;
}

.menuhead a {
    color: white;
    font-weight: 600;
}

.back-btn {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.back-btn a {
    color: black;
    position: absolute;
    margin-left: 1rem;
    margin-top: .6rem;
}

.row#recomended {
    margin: 2rem;
}

.list-title h4 {
    float: left;
    font-weight: 700;
    font-size: 2rem;
}

.recomendedcard img {
    width: 100%;
}

.card-text {
    text-align: left;
}

.book-list {
    margin-top: 0px !important;
}

.recomendedcard-read {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;
    border-color: #ffc929;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
} 
